:root {
	--xs-bg:#f8fafb;
	--xs-blue-300:#80bdff;
	--xs-radius:0.5rem;
	--xs-radius-sm:0.25rem;
	--bs-primary:#4285f4
}
* {
	scrollbar-width:thin;
	letter-spacing:0.5px
}
body {
	position:relative;
	line-height:1.5;
	font-size:14px;
	font-family:Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
	color:var(--bs-gray);
	background:var(--xs-bg)
}
p {
	margin-bottom:0.5rem;
	word-wrap:break-word
}
p:last-child {
	margin-bottom:0
}
ul,ol,li {
	margin:0;
	padding:0
}
li {
	list-style:none
}
a {
	color:var(--bs-gray);
	text-decoration:none
}
a:hover {
	color:var(--bs-blue);
	text-decoration:none
}
img {
	max-width:100%;
	border-radius:var(--xs-radius)
}
form,label {
	margin-bottom:0
}
td {
	word-break:break-all;
	word-wrap:break-word
}
input {
	padding:0.25rem 0.5rem;
	height:30px;
	color:var(--bs-gray);
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	vertical-align:middle
}
input[type=file] {
	padding:0;
	border:none;
	border-radius:0!important
}
input:focus,select:focus,textarea:focus {
	border-color:var(--xs-blue-300);
	box-shadow:0 0 0 0.25rem rgba(0,123,255,0.25);
	outline:0
}
input[type=radio],input[type=checkbox],input[type=radio]:focus,input[type=checkbox]:focus {
	width:14px;
	height:14px;
	box-shadow:none;
	vertical-align:middle
}
select {
	padding:0.25rem 0.5rem;
	height:30px;
	color:var(--bs-gray);
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	vertical-align:middle
}
select[multiple=yes] {
	height:160px
}
option {
	padding:0.25rem 0;
	color:var(--bs-gray)
}
option:checked {
	color:var(--bs-blue)
}
textarea {
	padding:0.25rem 0.5rem;
	color:var(--bs-gray);
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	vertical-align:middle
}
.install-head {
	padding:1rem 0;
	background:var(--bs-white)
}
.install-head .logo {
	font-size:18px;
	font-weight:700;
	color:var(--bs-gray-dark)
}
.install-head .logo img,.login-box .logo img {
	margin-right:0.5rem;
	height:32px
}
.install-box {
	margin:0 auto;
	width:768px
}
.install-box .card-header,.install-box .card-body {
	padding:1.25rem
}
.install-box h1 {
	margin:0;
	font-size:18px;
	font-weight:700;
	color:var(--bs-gray-dark)
}
.install-box label {
	margin-bottom:0.5rem
}
.login-step {
	height:100vh;
	overflow-x:hidden
}
.login-step .login-bg {
	height:100vh;
	background:var(--bs-gray-300) url(../img/login_bg.jpg)no-repeat top center;
	background-size:cover
}
.login-box {
	padding:100px 80px 0
}
.login-box .logo {
	margin-bottom:60px
}
.login-box .logo a {
	font-size:18px;
	font-weight:700;
	color:var(--bs-gray-dark)
}
.login-box .title,.login-box .alert {
	margin-bottom:20px
}
.login-box .title h1 {
	margin-bottom:40px;
	font-size:18px;
	font-weight:700;
	color:var(--bs-gray-dark)
}
.login-from {
	margin-bottom:40px
}
.login-from .mb-3 {
	margin-bottom:20px;
	position:relative
}
.login-from .form-icon {
	position:absolute;
	top:16px;
	left:16px;
	z-index:1998
}
.login-from .form-icon i {
	font-size:18px!important;
	color:var(--bs-gray-500)
}
.login-from .form-control {
	padding-left:45px;
	height:50px
}
.login-from .operate {
	margin-top:40px
}
.login-from .operate button {
	width:100%;
	height:50px
}
.admin-head {
	padding:0;
	width:100%;
	height:60px;
	line-height:60px;
	background:linear-gradient(45deg,var(--bs-primary),var(--cyan))
}
.admin-head .logo {
	padding-left:1rem;
	width:220px
}
.admin-head .logo .name {
	line-height:18px;
	font-size:18px;
	font-weight:700;
	color:var(--bs-white);
	vertical-align:middle
}
.admin-head .logo .version {
	font-size:12px;
	color:var(--bs-white)
}
.admin-head .nav-item {
	position:relative
}
.admin-head .nav-item .search {
	position:absolute;
	top:16px;
	right:0;
	color:var(--bs-gray)
}
.admin-head .nav-link {
	padding:0 1rem!important
}
.admin-head .nav-link,.admin-head .user a {
	color:var(--bs-white)!important
}
.admin-head .nav-link:hover,.admin-head .user a:hover {
	color:var(--bs-gray-300)!important
}
.admin-head .user img {
	margin-right:0.5rem;
	width:25px;
	height:25px;
	border-radius:50%
}
body.menu-hide .admin-aside {
	display:none
}
body.menu-hide .admin-content {
	left:0
}
body.menu-show .admin-aside {
	display:block
}
body.menu-show .admin-content {
	left:220px
}
.admin-content {
	display:grid;
	position:absolute;
	top:60px;
	right:0;
	height:calc(100vh - 60px)
}
.admin-content iframe {
	width:100%;
	height:100%;
	border:none
}
.admin-aside {
	position:absolute;
	top:60px;
	left:0;
	width:220px;
	height:calc(100vh - 60px);
	overflow-y:auto
}
.side-menu {
	padding:1rem 0
}
.side-menu .menu-item {
	position:relative;
	padding-left:2.5rem;
	height:40px;
	line-height:40px;
	border-left:3px solid transparent;
	cursor:pointer
}
.side-menu .menu-item .menu-link {
	color:var(--bs-gray)
}
.side-menu .menu-item .menu-link .fa {
	position:absolute;
	top:13px;
	left:1rem
}
.side-menu .menu-item .fa,.side-menu .sub-item .fa {
	position:absolute;
	top:13px;
	right:1rem
}
.side-menu .menu-sub {
	display:none
}
.side-menu .sub-item {
	position:relative;
	padding-left:2.675rem;
	height:40px;
	line-height:40px
}
#show {
	border-left:3px solid var(--bs-primary)
}
#show .menu-link,#show .fa-angle-down,.side-menu .sub-item.active a {
	color:var(--bs-primary)
}
#show .fa-angle-down {
	transform:rotate(180deg)
}
.admin-panel-way .list .font {
	display:block;
	width:100%;
	line-height:60px;
	font-size:18px;
	background:var(--xs-bg);
	border-radius:var(--xs-radius);
	text-align:center
}
.admin-panel-way .list .item {
	display:block;
	margin-top:0.5rem;
	line-height:16px;
	text-align:center
}
.admin-panel-ip .list {
	padding:1rem;
	height:84px;
	background:var(--xs-bg);
	border-radius:var(--xs-radius)
}
.admin-panel-ip .list .title {
	margin-bottom:0.5rem;
	font-size:14px
}
.admin-panel-ip .list p {
	font-size:18px;
	color:var(--bs-primary)
}
.admin-panel-web .card-body {
	height:216px
}
.spinner-border {
	width:20px;
	height:20px;
	vertical-align:bottom
}
#system-info td {
	white-space:nowrap
}
#_fileList,#_verList {
	height:350px;
	overflow-y:auto
}
#_msgInfo {
	display:none
}
.adminmodalbg {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:#000;
	opacity:0.5;
	z-index:1980
}
.adminmodal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:19992
}
.adminmodal .card {
	margin:1.75rem auto;
	width:100%
}
.fastselectbox {
	height:350px;
	overflow-y:auto;
	z-index:19993
}
.fastselect .topcat {
	margin-bottom:1rem;
	padding:0 1rem;
	background:var(--bs-light)
}
.fastselect .soncat {
	margin-bottom:1rem;
	padding:0 1rem
}
.fastselect .list {
	display:inline-block;
	padding-right:0.5rem
}
.mysource,.mywriter {
	width:500px;
	border:1px solid var(--bs-gray-300);
	z-index:19994
}
.data-col {
	float:left;
	width:180px
}
.clear {
	clear:both
}
.sys-search {
	position:relative
}
.sys-search .sys-times {
	position:absolute;
	top:0;
	right:0
}
.helpinfo {
	display:none;
	padding:0.5rem;
	width:100%;
	background:var(--xs-bg);
	border:1px solid var(--bs-gray-300);
	border-radius:var(--xs-radius)
}
.tipslite {
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	z-index:19991
}
.tips-box {
	margin:1.75rem auto;
	width:500px;
	height:auto;
	background:var(--bs-white);
	border-radius:var(--xs-radius)
}
.tips-head {
	margin:0 1rem;
	padding:1rem 0;
	border-bottom:1px solid var(--bs-light)
}
.tips-head p {
	margin:0;
	padding-left:1rem;
	line-height:16px;
	color:var(--bs-gray-dark);
	text-align:left;
	border-left:3px solid var(--bs-info)
}
.tips-body {
	padding:1rem;
	min-height:160px;
	color:var(--bs-gray);
	word-break:break-all;
	word-wrap:break-word
}
.atlas {
	display:inline-block;
	padding:0.5rem;
	width:12.5%;
	height:auto;
	text-align:center
}
.atlas .atlas-head {
	padding-bottom:75%;
	position:relative
}
.atlas .atlas-head img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover
}
.atlas .atlas-head,.atlas .atlas-body {
	margin-bottom:0.5rem
}
.atlas .atlas-input {
	width:100%
}
.toolad li {
	display:inline-block;
	padding:0.5rem;
	cursor:pointer
}
.toolad .active {
	color:var(--bs-blue)
}
#validateimg {
	border-radius:0 var(--xs-radius) var(--xs-radius) 0;
	cursor:pointer
}
#imgs-list {
	display:grid;
	grid-gap:1rem;
	grid-template-columns:repeat(auto-fill,minmax(160px,1fr))
}
#imgs-list li {
	position:relative
}
#imgs-list li .picbox {
	padding-bottom:75%;
	position:relative
}
#imgs-list li .picbox img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover
}
#imgs-list li .namebox {
	padding-top:0.5rem
}
#imgs-list li.up-over .picbox:after {
	position:absolute;
	top:0;
	left:0;
	font-family:'FontAwesome';
	font-size:14px;
	color:var(--bs-primary);
	content:'\f058';
	z-index:1991
}
#imgs-list li .tools {
	display:none;
	position:absolute;
	bottom:0;
	right:0;
	z-index:1992
}
#imgs-list li:hover .tools {
	display:block
}
#imgs-list li .tools .remove {
	cursor:pointer
}
#imgs-list li .tools .remove:after {
	font-family:'FontAwesome';
	content:'\f1f8';
	font-size:14px;
	color:var(--bs-danger)
}
#selcolor {
	padding:0.2rem;
	width:45px
}
#edsta {
	display:none;
	position:absolute;
	top:100px;
	left:150px;
	width:500px;
	height:auto
}
.browsehappy {
	padding:1rem 30px;
	color:var(--bs-orange);
	background:var(--bs-yellow)
}
.column:hover {
	background:rgba(0,0,0,0.075)
}
.opt-img .list {
	display:inline-block;
	padding:0.5rem;
	width:20%;
	text-align:center
}
.opt-img .list.dir {
	width:12.5%
}
.opt-img .list a {
	display:block;
	margin-bottom:0.5rem;
	padding-bottom:75%;
	position:relative
}
.opt-img .list a > img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover
}
.opt-img .list span {
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.opt-bg1 {
	background:var(--bs-gray-300)
}
.opt-bg2 {
	background:var(--bs-gray-500)
}
.opt-bg3 {
	background:var(--bs-white)
}
.opt-button {
	position:relative;
	display:inline-block;
	overflow:hidden
}
.opt-button input {
	position:absolute;
	top:0;
	left:0;
	width:40px;
	height:100%;
	opacity:0;
	cursor:pointer
}
.user-img-md {
	width:60px;
	height:60px;
	border-radius:50%;
	border:1px solid var(--bs-light)
}
.user-img-sm {
	width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid var(--bs-light)
}
.thumbnail-md {
	max-width:200px;
	max-height:120px
}
.thumbnail-sm {
	max-width:80px;
	max-height:80px
}
.thumbnail-mini {
	max-width:32px;
	max-height:32px
}
.admin-win {
	background:var(--xs-bg);
	border:1px solid var(--bs-gray-300)!important
}
.admin-win-iframe {
	width:100%;
	height:350px
}
.admin-main-sort {
	margin-left:1rem;
	padding:0;
	width:30px;
	text-align:center
}
.admin-textarea-xl {
	width:100%;
	height:160px!important
}
.admin-textarea-sm {
	width:350px;
	height:60px
}
.admin-input-lg {
	width:350px
}
.admin-input-md {
	width:230px
}
.admin-input-sm {
	width:190px
}
.admin-input-xs {
	width:70px
}
.admin-btns {
	margin:-0.5rem
}
.admin-btns input,.admin-btns select,.admin-btns button,.admin-btns .btn {
	margin:0.5rem!important
}
.container-fluid {
	padding:1rem
}
.breadcrumb {
	padding:0;
	background:none
}
.modal-title {
	font-size:16px;
	line-height:1.5
}
.card,.modal-content {
	border:0
}
.card-header {
	padding:1rem;
	background-color:rgba(0,0,0,0);
	border-bottom:1px solid rgba(0,0,0,0.05)
}
.card-body {
	padding:1rem
}
.card-body canvas {
	height:370px!important
}
.table {
	margin-bottom:0;
	font-size:14px;
	color:var(--bs-gray)
}
.table.icon img {
	width:20px;
	height:20px;
	border-radius:var(--xs-radius-sm)
}
.table th,.table td {
	padding:0.5rem 0.5rem 0.5rem 0;
	font-weight:400;
	vertical-align:middle
}
.form-control {
	display:inline-block;
	padding:0.25rem 0.5rem;
	height:30px;
	color:var(--bs-gray)
}
.form-control,.btn {
	font-size:14px!important
}
a:hover,body.menu-hide .admin-content,body.menu-show .admin-content,.sidemenu .submenu li:hover,.admin-head,.column:hover,.table-hover tbody tr:hover {
	transition:all 0.5s
}
input,select,textarea,.adminmodal,.fastselect .topcat,.mysource,.mywriter,.tipslite,#edsta,.cke_chrome,.cke_inner,.alert,.card,.rounded,.form-control,.btn {
	border-radius:var(--xs-radius)!important
}
.cke_top {
	border-radius:var(--xs-radius) var(--xs-radius) 0 0!important
}
.cke_bottom {
	border-radius:0 0 var(--xs-radius) var(--xs-radius)!important
}
.input-group>.input-group-append>.btn {
	border-top-left-radius:0!important;
	border-bottom-left-radius:0!important
}
.input-group:not(.has-validation)>.form-control:not(:last-child) {
	border-top-right-radius:0!important;
	border-bottom-right-radius:0!important
}
.page-item:first-child .page-link {
	border-top-left-radius:var(--xs-radius);
	border-bottom-left-radius:var(--xs-radius)
}
.page-item:last-child .page-link {
	border-top-right-radius:var(--xs-radius);
	border-bottom-right-radius:var(--xs-radius)
}
.page-link {
	padding:0.25rem 0.5rem;
	height:30px;
	font-size:14px
}
.nav-pills .nav-link,.btn-sm {
	padding:0 0.5rem!important;
	height:30px;
	line-height:30px;
	font-size:12px!important
}
.btn-xs {
	padding:0.15rem;
	line-height:1;
	font-size:12px!important;
	border-radius:var(--xs-radius-sm)!important
}
.btn+.btn {
	margin-left:1rem
}
.btn-primary {
	background-color:var(--bs-primary);
	border-color:var(--bs-primary)
}
.bg-primary {
	background-color:var(--bs-primary)!important
}
.list-group-item.active {
	background-color:var(--bs-primary);
	border-color:var(--bs-primary)
}
.shadow-sm {
	box-shadow:0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),0.015)!important
}
@media screen and (min-width:992px) and (max-width:1199px) {
	.login-box {
		padding:2.75rem 1rem
	}
}
@media  screen and (min-width:767px) {
	.modal-dialog,.adminmodal .card {
		max-width:500px
	}
}
@media screen and (max-width:767px) {
	td {
		white-space:nowrap
	}
	.install-box {
		width:100%;
		min-width:100%
	}
	.login-box {
		padding:1.75rem
	}
	body.menu-hide .admin-aside {
		display:block;
		width:100%
	}
	body.menu-hide .admin-content {
		left:100%
	}
	body.menu-show .admin-aside {
		display:none
	}
	body.menu-show .admin-content {
		left:0
	}
	.admin-textarea-xl,.admin-textarea-sm,.admin-input-lg,.admin-input-md,.admin-input-sm {
		width:auto!important;
		min-width:35%
	}
	.admin-head .navbar-nav {
		margin-left:auto
	}
	.card .card-body .pagination {
		display:none
	}
	.container-fluid,.tips {
		padding:0.75rem
	}
	.card-body canvas {
		height:230px!important
	}
	.adminmodal {
		padding:0 0.5rem
	}
	.adminmodal .card,.tips-box {
		margin:0.5rem auto;
		width:auto
	}
	.pagination,.page-item {
		display:inline-table
	}
}