@import url("bootstrap.min.css");
@import url("bootstrap-icons.min.css");
:root {
	--xs-bg:#f8fafb;
	--xs-blue-300:#86b7fe;
	--xs-radius:0.5rem;
	--xs-radius-sm:0.25rem;
	--bs-primary:#4285f4
}
* {
	scrollbar-width:thin;
	letter-spacing:0.5px;
	font-family:-apple-system,BlinkMacSystemFont,'PingFang SC','Helvetica Neue',Arial,sans-serif
}
body {
	line-height:1.5;
	font-size:14px;
	font-weight:400;
	color:var(--bs-gray);
	background:var(--xs-bg)
}
p {
	margin-bottom:0.5rem;
	word-wrap:break-word
}
p:last-child {
	margin-bottom:0
}
ul,ol,li {
	margin:0;
	padding:0
}
li {
	list-style:none
}
a {
	color:var(--bs-gray);
	text-decoration:none
}
a:hover {
	color:var(--bs-blue);
	text-decoration:none
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	line-height:normal;
	font-weight:600;
	color:var(--bs-gray-dark)
}
img {
	max-width:100%;
	border-radius:var(--xs-radius);
	object-fit:cover
}
th,td {
	word-break:break-all;
	word-wrap:break-word
}
input {
	padding:0.25rem 0.5rem;
	height:30px;
	color:var(--bs-gray);
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	vertical-align:middle
}
input:focus,select:focus,textarea:focus,button:focus,.btn:focus {
	border-color:var(--xs-blue-300);
	box-shadow:0 0 0 0.25rem rgba(13,110,253,0.25);
	outline:none
}
input[type=radio],input[type=checkbox],input[type=radio]:focus,input[type=checkbox]:focus {
	padding:0;
	width:14px;
	height:14px;
	box-shadow:none;
	vertical-align:middle
}
select {
	padding:0.25rem 0.5rem;
	height:30px;
	color:var(--bs-gray);
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	vertical-align:middle
}
select[multiple=yes] {
	height:160px
}
option {
	padding:0.25rem 0.5rem;
	color:var(--bs-gray)
}
option:checked {
	color:var(--bs-blue)
}
textarea {
	padding:0.25rem 0.5rem;
	color:var(--bs-gray);
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	vertical-align:middle
}
button {
	padding:0 0.5rem;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#fff;
	border:none;
	background-color:var(--bs-primary);
	border-radius:var(--xs-radius);
	text-align:center;
	vertical-align:middle
}
xmp {
	margin:0;
	white-space:pre-wrap
}
.install-head.navbar {
	padding:0.75rem 0;
	--bs-navbar-brand-padding-y:0.25rem
}
.install-head.navbar .navbar-toggler {
	padding:0.25rem;
	font-size:var(--xs-font-14)
}
.install-head .navbar-brand img {
	display:inline-block;
	margin-right:0.5rem;
	height:32px;
	border-radius:0;
	vertical-align:bottom
}
.install-box .content {
	margin:1rem auto;
	max-width:767px
}
.install-box .content .form-control,.install-box .content .form-select,.install-box .content .btn-md {
	height:35px
}
.login-box {
	height:100vh;
	overflow-x:hidden
}
.login-box .bg {
	height:100vh;
	background:var(--bs-gray-300) url(../img/login_bg.jpg)no-repeat top center;
	background-size:cover
}
.login-box .content {
	padding:100px 80px 0
}
.login-box .content .logo {
	margin-bottom:60px
}
.login-box .content .logo img {
	margin-right:0.5rem;
	height:32px
}
.login-box .content .logo a {
	font-size:18px;
	font-weight:600;
	color:var(--bs-gray-dark)
}
.login-box .content .title,.login-box .content .alert {
	margin-bottom:20px
}
.login-box .content .title h1 {
	margin-bottom:40px;
	font-size:18px
}
.login-box .content .from {
	margin-bottom:40px
}
.login-box .content .from .group {
	margin-bottom:20px;
	position:relative
}
.login-box .content .from .form-control {
	padding-left:45px;
	height:50px
}
.login-box .content .from .icon {
	position:absolute;
	top:0;
	left:1rem;
	line-height:50px;
	z-index:1998
}
.login-box .content .from .icon i {
	font-size:18px!important;
	color:var(--bs-gray-500)
}
.login-box .content .from .go {
	margin-top:40px
}
.login-box .content .from .go .btn {
	width:100%;
	height:50px
}
.admin-head {
	padding:0;
	width:100%;
	height:60px;
	line-height:60px;
	background:linear-gradient(45deg,var(--bs-primary),var(--bs-cyan))
}
.admin-head .logo {
	padding-left:1rem;
	width:220px
}
.admin-head .logo .name {
	line-height:18px;
	font-size:18px;
	font-weight:600;
	color:var(--bs-white);
	vertical-align:middle
}
.admin-head .navbar-nav {
	margin-right:auto
}
.admin-head .nav-item {
	position:relative
}
.admin-head .nav-item .search .form-control {
	border:none
}
.admin-head .nav-item .search .btn {
	position:absolute;
	top:16px;
	right:0;
	border:none;
	box-shadow:none
}
.admin-head .nav-link {
	padding:0 1rem!important
}
.admin-head .nav-link,.admin-head .user a {
	color:var(--bs-white)!important
}
.admin-head .nav-link:hover,.admin-head .user a:hover {
	color:var(--bs-gray-300)!important
}
.admin-head .user img {
	margin-right:0.5rem;
	width:25px;
	height:25px;
	border-radius:50%
}
body.menu-hide .admin-aside {
	display:none
}
body.menu-hide .admin-content {
	left:0
}
body.menu-show .admin-aside {
	display:block
}
body.menu-show .admin-content {
	left:220px
}
.admin-content {
	display:flex;
	position:absolute;
	top:60px;
	right:0;
	left:0;
	bottom:0
}
.admin-content iframe {
	width:100%;
	height:100%;
	border:none
}
.admin-aside {
	position:absolute;
	top:60px;
	right:0;
	left:0;
	bottom:0;
	width:220px;
	overflow-y:auto
}
.admin-aside .side-menu {
	padding:1rem 0;
	min-height:100%
}
.admin-aside .side-menu .menu-item {
	position:relative;
	padding-left:40px;
	height:40px;
	line-height:40px;
	border-left:3px solid transparent;
	cursor:pointer
}
.admin-aside .side-menu .menu-item.show {
	border-left:3px solid var(--bs-primary)
}
.admin-aside .side-menu .menu-item.show .menu-link,.admin-aside .side-menu .menu-item.show .bi-chevron-down,.admin-aside .side-menu .sub-item.active a {
	color:var(--bs-primary)
}
.admin-aside .side-menu .menu-item.show .bi-chevron-down {
	transform:rotate(-180deg)
}
.admin-aside .side-menu .menu-item .menu-link {
	color:var(--bs-gray)
}
.admin-aside .side-menu .menu-item .menu-link .bi {
	position:absolute;
	left:1rem;
	right:auto
}
.admin-aside .side-menu .menu-item .bi,.admin-aside .side-menu .menu-sub .sub-item .sub-right {
	position:absolute;
	right:1rem
}
.admin-aside .side-menu .menu-sub {
	display:none
}
.admin-aside .side-menu .menu-sub .sub-item {
	position:relative;
	padding-left:43px;
	height:40px;
	line-height:40px
}
.admin-panel-way .list .font {
	display:block;
	width:100%;
	line-height:60px;
	font-size:18px;
	background:var(--xs-bg);
	border-radius:var(--xs-radius);
	text-align:center
}
.admin-panel-way .list .item {
	display:block;
	margin-top:0.5rem;
	line-height:16px;
	text-align:center
}
.admin-panel-ip .list {
	padding:1rem;
	height:84px;
	background:var(--xs-bg);
	border-radius:var(--xs-radius)
}
.admin-panel-ip .list .title {
	margin-bottom:0.5rem;
	font-size:14px;
	font-weight:400;
	color:var(--bs-gray)
}
.admin-panel-ip .list p {
	font-size:18px;
	color:var(--bs-primary)
}
.admin-panel-web .card-body {
	height:216px
}
.spinner-border {
	width:20px;
	height:20px;
	vertical-align:bottom
}
.adminmodalbg {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:#000;
	opacity:0.5;
	z-index:19991
}
.adminmodal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:19992
}
.adminmodal .card {
	margin:1.75rem auto;
	width:100%
}
.input-group #validateimg {
	object-fit:unset;
	cursor:pointer
}
.clear {
	clear:both
}
.helpinfo {
	display:none;
	padding:0.5rem;
	width:100%;
	background:var(--xs-bg);
	border:1px solid var(--bs-gray-300);
	border-radius:var(--xs-radius)
}
.tipslite {
	background:var(--bs-white);
	border:1px solid var(--bs-gray-300);
	z-index:19995
}
.tips-box {
	margin:1.75rem auto;
	width:500px;
	height:auto;
	background:var(--bs-white);
	border-radius:var(--xs-radius)
}
.tips-head {
	margin:0 1rem;
	padding:1rem 0;
	border-bottom:1px solid var(--bs-light)
}
.tips-head p {
	margin:0;
	padding-left:1rem;
	line-height:16px;
	color:var(--bs-gray-dark);
	text-align:left;
	border-left:3px solid var(--bs-info)
}
.tips-body {
	padding:1rem;
	min-height:160px;
	color:var(--bs-gray);
	word-break:break-all;
	word-wrap:break-word
}
.toolad li {
	display:inline-block;
	padding:0.5rem;
	cursor:pointer
}
.toolad .active {
	color:var(--bs-blue)
}
.column:hover {
	background:rgba(0,0,0,0.075)
}
.fastselectbox {
	height:350px;
	overflow-y:auto;
	z-index:19993
}
.fastselect .topcat {
	margin-bottom:0.5rem;
	padding:0.5rem;
	background:var(--bs-light)
}
.fastselect .soncat {
	margin-bottom:0.5rem;
	padding:0.5rem
}
.fastselect .list {
	display:inline-block;
	padding-right:0.5rem
}
.mysource,.mywriter {
	width:500px;
	border:1px solid var(--bs-gray-300);
	z-index:19994
}
.data-col {
	float:left;
	width:180px
}
.sys-search {
	position:relative
}
.sys-search .sys-times {
	position:absolute;
	top:0;
	right:0;
	border:none;
	box-shadow:none
}
.list-group-item.active {
	background-color:var(--bs-primary);
	border-color:var(--bs-primary)
}
#imgs-list,.opt-img {
	display:grid;
	grid-gap:1rem;
	grid-template-columns:repeat(auto-fill,minmax(130px,auto))
}
#imgs-list li,.atlas,.opt-img .list {
	position:relative;
	padding:0.5rem;
	background:var(--bs-light);
	border-radius:var(--xs-radius);
	text-align:center
}
#imgs-list li .picbox img,.atlas .atlas-head img,.opt-img .list a > img {
	width:100%;
	aspect-ratio:4 / 3
}
#imgs-list li .namebox {
	padding-top:0.5rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
#imgs-list li:hover .tools {
	display:block
}
#imgs-list li .tools {
	display:none;
	position:absolute;
	bottom:0.25rem;
	right:0.5rem;
	z-index:1992
}
#imgs-list li .tools .remove:after {
	font-family:'bootstrap-icons';
	content:'\F622';
	font-size:14px;
	color:var(--bs-danger);
	cursor:pointer
}
#imgs-list .up-over .picbox:after {
	position:absolute;
	top:1rem;
	left:1rem;
	font-family:'bootstrap-icons';
	font-size:14px;
	color:var(--bs-teal);
	content:'\F26A';
	z-index:1991
}
#edsta {
	display:none;
	position:absolute;
	top:130px;
	left:220px;
	width:500px;
	height:auto
}
#gallery,#galleryedit {
	display:grid;
	grid-gap:1rem;
	grid-template-columns:repeat(auto-fill,minmax(190px,auto))
}
.atlas .atlas-head,.atlas .atlas-body {
	margin-bottom:0.5rem
}
.atlas .atlas-input {
	width:100%
}
.opt-img .list span {
	display:block;
	margin-top:0.5rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.opt-bg1 {
	background:var(--bs-gray-300)
}
.opt-bg2 {
	background:var(--bs-gray-500)
}
.opt-bg3 {
	background:var(--bs-white)
}
.opt-button {
	position:relative;
	display:inline-block;
	overflow:hidden
}
.opt-button input {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	cursor:pointer
}
.user-img-md {
	width:60px;
	height:60px;
	border-radius:50%;
	border:1px solid var(--bs-light)
}
.user-img-sm {
	width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid var(--bs-light)
}
.thumbnail-md {
	max-width:200px;
	max-height:150px
}
.thumbnail-sm {
	max-width:70px;
	max-height:70px
}
.admin-main-sort {
	margin-left:1rem;
	padding:0;
	width:30px;
	text-align:center
}
.admin-win-iframe {
	width:100%;
	height:350px
}
.admin-textarea-xl {
	width:100%;
	height:160px
}
.admin-textarea-sm {
	width:350px;
	height:60px
}
.admin-w-lg {
	width:350px
}
.admin-w-md {
	width:230px
}
.admin-w-sm {
	width:190px
}
.admin-w-xs {
	width:70px
}
.admin-btns {
	margin:-0.5rem
}
.admin-btns input,.admin-btns select,.admin-btns button,.admin-btns .btn {
	margin:0.5rem!important
}
.breadcrumb {
	padding:0;
	background:none
}
.container-fluid {
	padding:1rem
}
.modal-title {
	line-height:normal;
	font-size:14px;
	font-weight:400
}
.card,.modal-content {
	border:none
}
.card-header {
	padding:1rem;
	background-color:rgba(0,0,0,0);
	border-bottom:1px solid rgba(0,0,0,0.05)
}
.card-body canvas {
	height:328px!important
}
.table {
	margin-bottom:0;
	font-size:14px;
	color:var(--bs-gray)
}
.table.icon img {
	width:18px;
	height:18px;
	border-radius:var(--xs-radius-sm)
}
.table th,.table td {
	padding:0.5rem 0.5rem 0.5rem 0;
	font-weight:400;
	vertical-align:middle
}
.form-control,.form-select {
	display:inline-block;
	padding:0.25rem 0.5rem;
	height:30px;
	color:var(--bs-gray)
}
a:hover,body.menu-hide .admin-content,body.menu-show .admin-content,.sidemenu .submenu li:hover,.admin-head,.column:hover,.table-hover tbody tr:hover {
	transition:all 0.5s
}
input,select,textarea,.form-control,.form-select,.btn {
	font-size:14px!important;
	border-radius:var(--xs-radius)
}
.adminmodal,.fastselect .topcat,.mysource,.mywriter,.tipslite,#edsta,.cke_chrome,.cke_inner,.alert,.card,.rounded {
	border-radius:var(--xs-radius)!important
}
.cke_top {
	border-radius:var(--xs-radius) var(--xs-radius) 0 0!important
}
.cke_bottom {
	border-radius:0 0 var(--xs-radius) var(--xs-radius)!important
}
.page-item:first-child .page-link {
	border-top-left-radius:var(--xs-radius);
	border-bottom-left-radius:var(--xs-radius)
}
.page-item:last-child .page-link {
	border-top-right-radius:var(--xs-radius);
	border-bottom-right-radius:var(--xs-radius)
}
.page-link {
	padding:0.25rem 0.5rem;
	height:30px;
	font-size:14px
}
.nav-pills .nav-link,.btn-sm {
	padding:0 0.5rem!important;
	height:30px;
	line-height:30px;
	font-size:12px!important
}
.btn+.btn {
	margin-left:1rem
}
.btn-xs {
	padding:0.15rem;
	line-height:1;
	font-size:12px!important;
	border-radius:var(--xs-radius-sm)!important
}
.btn-close {
	background:transparent var(--bs-btn-close-bg)center / 0.75em auto no-repeat
}
.btn-primary {
	background-color:var(--bs-primary);
	border-color:var(--bs-primary)
}
.bg-primary {
	background-color:var(--bs-primary)!important
}
.shadow-sm {
	box-shadow:0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),0.015)!important
}
@media screen and (min-width:992px) and (max-width:1199px) {
	.login-box .content {
		padding:3rem
	}
}
@media screen and (min-width:767px) {
	.modal-dialog,.adminmodal .card {
		max-width:500px
	}
}
@media screen and (max-width:767px) {
	th,td {
		white-space:nowrap
	}
	.install-box .content {
		max-width:100%
	}
	.login-box .content {
		padding:1.5rem
	}
	.admin-head .navbar-nav {
		margin-right:unset;
		margin-left:auto
	}
	body.menu-hide .admin-aside {
		display:block;
		width:100%
	}
	body.menu-hide .admin-content {
		left:100%
	}
	body.menu-show .admin-aside,.card .card-body .pagination {
		display:none
	}
	body.menu-show .admin-content {
		left:0
	}
	input.w-25,input.w-75,.admin-textarea-xl,.admin-textarea-sm,.admin-w-lg,.admin-w-md,.admin-w-sm {
		width:auto!important;
		min-width:35%
	}
	.container-fluid,.tips {
		padding:0.75rem
	}
	.card-body canvas {
		height:208px!important
	}
	.adminmodal {
		padding:0 0.5rem
	}
	.adminmodal .card,.tips-box {
		margin:0.5rem auto;
		width:auto
	}
}